
<div class="rental">
    <span translate>Rental Start</span>: {{ rental.start | date: dateTimeFormat }}<br />
    <div ng-if="rental.odometerStart != null"><span translate>Mileage</span>: {{ rental.odometerStart }} <span translate>km</span><br /></div>
    <br />

    <div ng-if="rental.isActive">
        <span translate>Mileage as of</span> {{ vehicleState.timestamp | date: dateTimeFormat }}:<br />
        {{ vehicleState.odometer }} <span translate>km</span><span ng-if="rental.odometerStart != null">, <span translate>driven so far</span>: {{ vehicleState.odometer - rental.odometerStart }} <span translate>km</span></span>
        <br /><br />
    </div>

    <span translate>Rental End</span>: {{ rental.end | date: dateTimeFormat }}<br />
    <div ng-if="rental.odometerEnd != null">
        <span translate>Mileage</span>: {{ rental.odometerEnd }} <span translate>km</span><br /><br />
        <span translate>Distance driven</span>: {{ rental.odometerEnd - rental.odometerStart }} <span translate>km</span><br /><br />
    </div>

    <div ng-if="debugMode">
    SuperCharger usage: {{ rental.superChargerUsageKWh }} kWh<br />
    Idle fee usage: {{ rental.superChargerUsageIdle }}$<br />
    (not yet available through API)<br />
    </div>

    <span ng-if="!rental.isActive"><br /><span translate>Info and controls are only available when the rental is active.</span></span>
</div>

<div ng-if="rental.isActive">
    <div class="charging">
        <div ng-if="vehicleState.state == 'asleep'">
            <h2 translate>Asleep</h2>
            <div vehicle-actions vehicle-state="vehicleState" vehicle-lock-callback="vehicleLock()" vehicle-open-frunk-callback="vehicleOpenFrunk()"></div>
            <br />
        </div>
        <div ng-if="vehicleState.state != 'asleep' && chargeState.chargingState == 'Disconnected'">
            <div ng-if="driveState.shiftState && driveState.shiftState != 'P'">
                <h2 translate>Driving</h2>
                {{ driveState.speed }} <span translate>km/h</span>
                <br />
            </div>
            <div ng-if="!driveState.shiftState || driveState.shiftState == 'P'">
                <h2 translate>Parked</h2>
                <div vehicle-lock-state vehicle-state="vehicleState"></div>
                <br />
            </div>
            <div vehicle-actions vehicle-state="vehicleState" vehicle-lock-callback="vehicleLock()" vehicle-open-frunk-callback="vehicleOpenFrunk()"></div>
            <br />
        </div>
        <div ng-if="vehicleState.state != 'asleep' && chargeState.chargingState != 'Disconnected'">
            <h2 ng-if="chargeState.chargingState == 'Complete'" translate>Charging Complete</h2>
            <h2 ng-if="chargeState.chargingState != 'Complete'">{{ chargeState.chargingState | translate }}</h2>
            <div vehicle-lock-state vehicle-state="vehicleState"></div>
            <div vehicle-actions vehicle-state="vehicleState" vehicle-lock-callback="vehicleLock()" vehicle-open-frunk-callback="vehicleOpenFrunk()"></div>
            <br /><br />
            <h3 ng-if="chargeState.chargingState == 'Charging'" translate>{{ chargeState.timeToFullChargeHours }} hr {{ chargeState.timeToFullChargeMins | number:0 }} min remaining</h3>
            <span translate>Charging speed: {{ chargeState.chargeRate }} km/h, {{ chargeState.chargerPower }} kW</span><br />
        </div>

        <div style="margin-bottom: 5px" translate>
            Range: {{ chargeState.batteryRange | number:0 }} km, {{ chargeState.batteryLevel }}%
        </div>
        <div class="battery">
            <div class="level" ng-style="{width: chargeState.batteryLevel + '%'}"></div>
            <div ng-class="{plugged: chargeState.chargingState == 'Charging'}"></div>
        </div>
        <a href="javascript:void(0)" ng-if="!nearbyChargingVisible" ng-click="showNearByChargingStations()" style="font-size: smaller;" translate>Show nearby<br />charging stations</a>
        <a href="javascript:void(0)" ng-if="nearbyChargingVisible" ng-click="hideNearByChargingStations()" style="font-size: smaller;" translate>Hide nearby<br />charging stations</a>
        <br />
        <div ng-if="nearbyChargingVisible">
            <h3 translate>Nearby Superchargers</h3>
            <div class="charger" ng-repeat="charger in nearbyChargers.superchargers"nearby-charger charger="charger" navigation-request-callback="getNavigationRequest()"></div>
            <h3 translate>Nearby Destination Charging</h3>
            <div class="charger" ng-repeat="charger in nearbyChargers.destination_charging" nearby-charger charger="charger" navigation-request-callback="getNavigationRequest()"></div>
        </div>
    </div>

    <div class="hvac">
        <h2 translate>HVAC</h2>
        <div class="divTemperatureInOut">
            <span translate>Inside: {{ climateState.insideTemp }} °C</span><br />
            <span translate>Outside: {{ climateState.outsideTemp }} °C</span><br />
        </div>
        <br />

        <div class="divTemperature">
            <button class="btnTemperature" ng-click="hvacSetTemperatureDecrease()">&lt;</button>
            <span class="temperature">{{ climateState.driverTempSetting | number:1 }} <span translate>°C</span></span>
            <button class="btnTemperature" ng-click="hvacSetTemperatureIncrease()">&gt;</button>
        </div>

        <!--Temp: <input type="number" step="0.5" style="width: 70px" ng-model="climateState.driverTempSetting" ng-change="hvacSetTemperature()" /> °C<br />
        -->

        <!--<md-switch ng-model="climateState.autoConditioningOn" ng-change="hvacStartStop()">HVAC</md-switch>-->
        <div style="position: relative">
            <button ng-click="hvacStartStop()" ng-if="climateState.autoConditioningOn" translate>TURN OFF</button>
            <button ng-click="hvacStartStop()" ng-if="!climateState.autoConditioningOn" translate>TURN ON</button>
            <img ng-if="hvacLoading" class="imgLoader" src="/static/loader.gif" />
            <img ng-if="hvacError" class="imgLoader imgLoaderError" src="/static/loader.gif" />
        </div>
    </div>

    <div class="gps">
        <h2 translate>Current position</h2>

        <div>
            GPS: {{ driveState.longitude }}, {{ driveState.latitude }}<br />
            (<span translate>as of</span>: {{ driveState.gpsAsOf | date: dateTimeFormat }})<br />
        </div>

        <br />
        <a class="btn" href="https://www.google.com/maps/place/{{ driveState.latitude }},{{ driveState.longitude }}" translate>Open in Google Maps</a>
    </div>

    <br /><span style="font-size: smaller" translate>*Frunk: Front trunk</span>
</div>

<div ng-if="debugMode">
<h2>Debug</h2>
    <pre>
rental: {{ rental | json }}

vehicleState: {{ vehicleState | json }}

chargeState: {{ chargeState | json }}

climateState: {{ climateState | json }}

driveState: {{ driveState | json }}

uiSettings: {{ uiSettings | json }}
    </pre>
</div>