
<div class="rental">
    Rental Start: {{ rental.start | date:'medium' }}<br />
    <div ng-if="rental.odometerStart != null">Mileage: {{ rental.odometerStart }} km<br /></div>
    <br />

    <div ng-if="rental.isActive">
        Mileage as of {{ vehicleState.timestamp | date:'medium' }}:<br />
        {{ vehicleState.odometer }} km, driven so far: {{ vehicleState.odometer - rental.odometerStart }} km<br />
        <br />
    </div>

    Rental End: {{ rental.end | date:'medium' }}<br />
    <div ng-if="rental.odometerEnd != null">
        Mileage: {{ rental.odometerEnd }} km<br /><br />
        Distance: {{ rental.odometerEnd - rental.odometerStart }} km<br />
    </div>
    <br />

    <div ng-if="debugMode">
    SuperCharger usage: {{ rental.superChargerUsageKWh }} kWh<br />
    Idle fee usage: {{ rental.superChargerUsageIdle }}$<br />
    (not yet available through API)<br />
    </div>

    <span ng-if="!rental.isActive"><br />Info and controls are only available when the rental is active.</span>
</div>

<div ng-if="rental.isActive">
    <div class="charging">
        <div ng-if="vehicleState.state == 'asleep'">
            <h2>Asleep</h2>
        </div>
        <div ng-if="vehicleState.state != 'asleep' && chargeState.chargingState == 'Disconnected'">
            <div ng-if="driveState.shiftState">
                <h2>Driving</h2>
                {{ driveState.speed }} km/h<br /><br />
            </div>
            <div ng-if="!driveState.shiftState">
                <h2>Parked</h2>
                <span ng-if="vehicleState.locked">Vehicle locked</span>
                <span ng-if="!vehicleState.locked">
                    Vehicle unlocked
                    <span ng-if="vehicleState.openDoorsOrTrunks.length > 0">
                        <br />
                        (<span ng-repeat="item in vehicleState.openDoorsOrTrunks">{{ item }} open{{$last ? '' : ', '}}</span>)
                    </span>
                </span>
                <br /><br />
            </div>
        </div>
        <div ng-if="vehicleState.state != 'asleep' && chargeState.chargingState != 'Disconnected'">
            <h2 ng-if="chargeState.chargingState == 'Complete'">Charging Complete</h2>
            <h2 ng-if="chargeState.chargingState != 'Complete'">{{ chargeState.chargingState }}</h2>

            <h3 ng-if="chargeState.chargingState == 'Charging'">{{ chargeState.timeToFullChargeHours }} hr {{ chargeState.timeToFullChargeMins | number:0 }} min remaining</h3>
            Charging speed: {{ chargeState.chargeRate }} km/h, {{ chargeState.chargerPower }} kW<br />
        </div>

        <div style="margin-bottom: 5px">
            Range: {{ chargeState.batteryRange | number:0 }} km, {{ chargeState.batteryLevel }}%
        </div>
        <div class="battery">
            <div class="level" ng-style="{width: chargeState.batteryLevel + '%'}"></div>
            <div ng-class="{plugged: chargeState.chargingState == 'Charging'}"></div>
        </div>
    </div>

    <div class="hvac">
        <h2>HVAC</h2>
        <div class="divTemperatureInOut">
            <span>Inside: {{ climateState.insideTemp }} °C</span><br />
            <span>Outside: {{ climateState.outsideTemp }} °C</span><br />
        </div>
        <br />

        <div class="divTemperature">
            <button class="btnTemperature" ng-click="hvacSetTemperatureDecrease()">&lt;</button>
            <span class="temperature">{{ climateState.driverTempSetting | number:1 }} °C</span>
            <button class="btnTemperature" ng-click="hvacSetTemperatureIncrease()">&gt;</button>
        </div>

        <!--Temp: <input type="number" step="0.5" style="width: 70px" ng-model="climateState.driverTempSetting" ng-change="hvacSetTemperature()" /> °C<br />
        -->

        <!--<md-switch ng-model="climateState.autoConditioningOn" ng-change="hvacStartStop()">HVAC</md-switch>-->
        <button ng-click="hvacStartStop()" ng-if="climateState.autoConditioningOn">TURN OFF</button>
        <button ng-click="hvacStartStop()" ng-if="!climateState.autoConditioningOn">TURN ON</button>
    </div>

    <div class="gps">
        <h2>Current position</h2>

        <div>
            GPS: {{ driveState.longitude }}, {{ driveState.latitude }}<br />
            (as of: {{ driveState.gpsAsOf | date:'medium' }})<br />
        </div>

        <br />
        <a class="btn" href="https://www.google.com/maps/place/{{ driveState.latitude }},{{ driveState.longitude }}">Open in Google Maps</a>
    </div>
</div>

<div ng-if="debugMode">
<h2>Debug</h2>
    <pre>
rental: {{ rental | json }}

vehicleState: {{ vehicleState | json }}

chargeState: {{ chargeState | json }}

climateState: {{ climateState | json }}

driveState: {{ driveState | json }}

uiSettings: {{ uiSettings | json }}
    </pre>
</div>