
<div class="rental">
    Start: {{ rental.start | date:'medium' }}<br />
    End: {{ rental.end | date:'medium' }}<br />
    <br />
    Odo at rental start: {{ rental.odometerStart }}km<br />
    <span ng-if="rental.isActive">Odo current: {{ vehicleState.odometer }}km</span><br />
    <span ng-if="!rental.isActive">Odo at rental end: {{ vehicleState.odometerEnd }}km</span><br />

    SuperCharger usage: {{ rental.superChargerUsageKWh }} kWh<br />
    Idle fee usage: {{ rental.superChargerUsageIdle }}$<br />

    <span ng-if="!rental.isActive"><br />Info and controls are only available when the rental is active.</span>
</div>

<div ng-if="rental.isActive">
    <div class="charging">
        <h2 ng-if="chargeState.chargingState == 'Complete'">Charging Complete</h2>
        <h2 ng-if="chargeState.chargingState != 'Complete'">{{ chargeState.chargingState }}</h2>
        <h3>{{ chargeState.timeToFullChargeHours }} hr {{ chargeState.timeToFullChargeMins | number:0 }} min remaining</h3>
        <br />

        {{ chargeState.estBatteryRange | number:0 }} km / {{ chargeState.batteryLevel }}%

        <div class="battery">
            <div class="level" ng-style="{width: chargeState.batteryLevel + '%'}"></div>
            <div ng-class="{plugged: chargeState.chargingState == 'Charging'}"></div>
        </div>

        {{ chargeState.chargerPower }} kW<br />
    </div>

    <div class="hvac">
        <h2>HVAC</h2>
        <div class="divTemperatureInOut">
            <span>Inside: {{ climateState.insideTemp }} °C</span><br />
            <span>Outside: {{ climateState.outsideTemp }} °C</span><br />
        </div>
        <br />

        <div class="divTemperature">
            <button class="btnTemperature" ng-click="hvacSetTemperatureDecrease()">&lt;</button>
            <span class="temperature">{{ climateState.driverTempSetting | number:1 }} °C</span>
            <button class="btnTemperature" ng-click="hvacSetTemperatureIncrease()">&gt;</button>
        </div>

        <!--Temp: <input type="number" step="0.5" style="width: 70px" ng-model="climateState.driverTempSetting" ng-change="hvacSetTemperature()" /> °C<br />
        -->

        <!--<md-switch ng-model="climateState.autoConditioningOn" ng-change="hvacStartStop()">HVAC</md-switch>-->
        <button ng-click="hvacStartStop()" ng-if="climateState.autoConditioningOn">TURN OFF</button>
        <button ng-click="hvacStartStop()" ng-if="!climateState.autoConditioningOn">TURN ON</button>
    </div>

    <div class="gps">
        <h2>Current position</h2>

        <div>
            GPS: {{ driveState.longitude }}, {{ driveState.latitude }}<br />
            (from: {{ driveState.gpsAsOf | date:'medium' }})<br />
            Vehicle locked: {{ vehicleState.locked }}<br />
            Speed: {{ driveState.speed }} km/h<br />
        </div>

        <br />
        <a class="btn" href="https://www.google.com/maps/?q={{ driveState.longitude }}, {{ driveState.latitude }}">Open in Google Maps</a>
    </div>
</div>


<h2>Debug</h2>
{{ vehicleState | json }}
{{ chargeState | json }}
{{ climateState | json }}
{{ driveState | json }}
{{ uiSettings | json }}
