<button ng-click="vehicleOpenFrunk()" translate>Open Frunk</button><br />
<!--
<button ng-click="vehicleOpenTrunk()" ng-if="!vehicleState.trunksOpen.rear">Open Trunk</button>
<button ng-click="vehicleCloseTrunk()" ng-if="vehicleState.trunksOpen.rear">Close Trunk</button>
//-->
<button ng-click="vehicleLock()" ng-disabled="vehicleState.openDoorsOrTrunks.length > 0" translate>Lock vehicle</button>
<span ng-if="vehicleState.openDoorsOrTrunks.length > 0" style="font-size: smaller;"><br /><span translate>Can't lock vehicle because doors or trunks are open.</span></span>
