{% extends "admin/index.html" %}
{% load i18n %}

{% block content_title %}{% endblock %}

{% block content %}

<form method="POST" class="post-form">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit" class="save btn btn-default">Add</button>
    <br /><br />
    Your password will not be stored, only a so-called authentication token.
    (If someone is able to steal this token, this person will have the same possibility as if someone has access to the Tesla mobile app.)
</form>

{% endblock %}


