{% extends "admin/index.html" %}
{% load i18n %}

{% block content_title %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    .dashboard #content {
        margin-left: 10px;
        margin-right: 10px;
        width: unset;
    }

    #content-related {
        margin-right: 0px;
    }

    #chart {
        height: 300px;
    }

</style>
{% endblock %}

{% block content %}
<div id="chart"></div>
<br /><br />
<table id="dailyStats">
    <tr>
        <td>Date</td>
        <td>Start Odo</td>
        <td>End Odo</td>
        <td>Distance [km]</td>
        <td>Energe used [kWh]</td>
        <td>Energe charged [kWh]</td>
        <td>Efficiency [Wh/km]</td>
    </tr>
</table>

<br class="clear">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  google.charts.load('current', {'packages':['annotationchart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    $.getJSON( "../chargeStatsData/{{ vehicle_id }}/0/1000", function( chargeData ) {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Battery level [%]');
        data.addColumn('number', 'Battery level [kWh]');
        data.addColumn('number', 'Distance [km]');
        data.addColumn('number', 'Speed [km/h]')
        data.addColumn('number', 'Efficiency [Wh/km]');

        $.each( chargeData.items, function( key, val ) {
            data.addRow([moment(val.createdAt).toDate(), val.batteryLevel, val.batteryLevelKWh, val.distance, val.speedAvg, val.efficiency]);
        });

        var chart = new google.visualization.AnnotationChart(document.getElementById('chart'));

        var options = {
          displayAnnotations: true,
          //min: 0,
          //max: 100
          chart: {
            vAxes: { 0: { minValue: 0, maxValue: 100 }, 1: { minValue: 0, maxValue: 400 } },
            series: { 0: { targetAxisIndex: 0 }, 1: { targetAxisIndex: 0 }, 2: { targetAxisIndex: 0 }, 3: { targetAxisIndex: 0 }, 4: { targetAxisIndex: 1 } }
          }
        };

        chart.draw(data, options);
    });
  }

  $.getJSON( "../dailyStatsData/{{ vehicle_id }}/0/5000", function( data ) {
    $.each(data.items, function(key, val) {
        console.log(val);
        $('#dailyStats').append("<tr><td>" + val.date + "</td><td>" + val.startOdo + "</td><td>" + val.endOdo + "</td><td>" + val.distance + "</td><td>" + val.usedKWh + "</td><td>" + val.chargedKWh + "</td><td>" + (val.efficiency != null ? val.efficiency : '') + "</td></tr>");
    });
  });
</script>


{% endblock %}


