{% extends "admin/index.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name"><a href="/manage/">{{ site_header }}</a></h1>
{% endblock%}

{% block content_title %}{% endblock %}

{% block content %}
<style>
    hr {
        margin-top: 15px;
    }
</style>


{% if credentials|length == 0 %}
    <span style="font-size: x-large">
        <br /><br />
        To get started, please <a href="./addCredentials">provide your Tesla credentials</a>.
        <br /><br /><br />
    </span>

{% else %}
    <h2>Credentials</h2>
    {% for c in credentials %}{{ c }} (<a href="./deleteCredentials/{{ c.id }}">X</a>), {% endfor %}
    (<a href="./addCredentials">add another</a>)<br />

    <h2>Vehicle(s)</h2>
    {% for v in vehicles %}
        {% if not v.linked or not v.credentials %}
            <span style="color: gray">{{ v }} - inactive</span><br />
        {% else %}
            {{ v.display_name }} {{ v.vin }}<br />
        {% endif %}
    {% endfor %}
    {% if not has_active_vehicle %}
        There are no vehicles for your Tesla credentials, go get one <a href="https://www.tesla.com/">here</a><br />
    {% endif %}
    <form action="./updateVehicles" method="post">{% csrf_token %}
        <button type="submit">Update vehicle list</button>
    </form>
{% endif %}

<br /><br />
{% if credentials|length > 0 and has_active_vehicle %}
    <a href="./addRental">Add a new rental</a>
{% endif %}

<h2>Active Rentals</h2>
{% for rental in active_rentals %}
    Start: {{ rental.start }}<br />
    Rental-code: <a href="/#/rental/{{ rental.code }}">{{ rental.code }}</a><br />
    {{ rental.description }}{% if rental.description %}<br />{% endif %}
    {{ rental.vehicle }}<br />
    <a href="./editRental/{{ rental.id }}">Edit</a>
    <form style="display: inline" action="./deleteRental/{{ rental.id }}" method="post">{% csrf_token %}<button>Delete</button></form>
    <br /><br />
{% empty %}
    No active rental.
{% endfor %}

<hr />

<h2>Upcoming Rentals</h2>
{% for rental in upcoming_rentals %}
    Start: {{ rental.start }}<br />
    Rental-code: <a href="/#/rental/{{ rental.code }}">{{ rental.code }}</a><br />
    {{ rental.description }}{% if rental.description %}<br />{% endif %}
    {{ rental.vehicle }}<br />
    <a href="./editRental/{{ rental.id }}">Edit</a>
    <form style="display: inline" action="./deleteRental/{{ rental.id }}" method="post">{% csrf_token %}<button>Delete</button></form>
    <br /><br />
{% empty %}
    No upcoming rental.
{% endfor %}

<hr />

<h2>Past rentals</h2>
{% for rental in past_rentals %}
    Start: {{ rental.start }}<br />
    {{ rental.vehicle }}<br />
    Distance driven: {% if rental.distance_driven %}{{ rental.distance_driven }} km {% else %}unknown{% endif %}<br />
    <br />
{% empty %}
    No past rentals.
{% endfor %}


<br /><hr />
<small>
{% if debug %}
    Running in DEBUG mode
{% else %}
    Running in PRODUCTION mode
{% endif %}

<br /><br />
{% for c in credentials %}
    <form action="./refreshCredentials/{{ c.id }}" method="post">{% csrf_token %}
        {{ c.token_expires_at }}
        <button type="submit">Refresh credentials</button>
    </form><br />
{% endfor %}
</small>


{% endblock %}