{% extends "admin/index.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name"><a href="/manage/">{{ site_header }}</a></h1>
{% endblock%}

{# hide displaying the title as h1 in admin/base.html #}
{% block content_title %}{% endblock %}

{% block content %}
<style>
    hr {
        margin-top: 15px;
    }

    .dashboard #content {
        width: 1000px;
    }

    #rental-table td {
        white-space: nowrap;
    }
</style>


{% if credentials|length == 0 %}
    <span style="font-size: x-large">
        <br /><br />
        To get started, please <a href="./addCredentials">provide your Tesla credentials</a>.
        <br /><br /><br />
    </span>

{% else %}
    <h2>Credentials</h2>
    {% for c in credentials %}
        {{ c }}, token expiration: {{ c.token_expires_at }}
        (
        <form style="display: inline;" action="./deleteCredentials/{{ c.id }}" method="get">{% csrf_token %}
            <button type="submit">Delete credentials</button>
        </form>,
        <form style="display: inline;" action="./refreshCredentials/{{ c.id }}" method="post">{% csrf_token %}
            <button type="submit">Refresh credentials</button>
        </form>
        )
        <br />
    {% endfor %}
    <a href="./addCredentials">add another</a><br />

    <h2>Vehicle(s)</h2>
    {% for v in vehicles %}
        {% if not v.linked or not v.credentials %}
            <span style="color: gray">{{ v }} - inactive</span><br />
        {% else %}
            {{ v.display_name }} {{ v.vin }} {% if v.d.vehicle_state__locked %}locked{% else %}unlocked{% endif %},
            {{ v.d.vehicle_state__odometer|floatformat:"0" }}{{ v.d.distance_unit }},
            Battery: {{ v.d.charge_state__usable_battery_level }}% / {{ v.d.charge_state__battery_range|floatformat:"0" }} {{ v.d.distance_unit }}
            (as of {{ v.d.created_at }},
            <a href="./chargeStats/{{ v.id }}">Charge Stats</a>,
            <form style="display: inline;" action="./lockVehicle/{{ v.id }}" method="post">{% csrf_token %}<button type="submit">Lock vehicle</button></form>,
            <form style="display: inline;" action="./unlockVehicle/{{ v.id }}" method="post">{% csrf_token %}<button type="submit">Unlock vehicle</button></form>
            )<br />
        {% endif %}
    {% endfor %}
    {% if not has_any_vehicle %}
        There are no vehicles for your Tesla credentials, go get one <a href="https://www.tesla.com/">here</a><br />
    {% endif %}
    {% if not has_active_vehicle %}
        There is no online vehicle or mobile access is disabled. Ensure that vehicle is online and mobile access is enabled. Wait 10 seconds and try again.<br />
    {% endif %}
    <form action="./updateVehicles" method="post">{% csrf_token %}
        <button type="submit">Update vehicle list</button>
    </form>
{% endif %}

<br /><br />
{% if credentials|length > 0 and has_active_vehicle %}
    <a href="./addRental">Add a new rental</a>
{% endif %}

<h2>Active Rentals</h2>
{% for rental in active_rentals %}
    {{ rental.start }} - {{ rental.end }}<br />
    Rental-code: <a href="/#/rental/{{ rental.code }}">{{ rental.code }}</a><br />
    {{ rental.description }}{% if rental.description %}<br />{% endif %}
    {{ rental.vehicle }}<br />
    <a href="./editRental/{{ rental.id }}">Edit</a>
    <form style="display: inline" action="./deleteRental/{{ rental.id }}" method="post">{% csrf_token %}<button>Delete</button></form>
    <br /><br />
{% empty %}
    No active rental.
{% endfor %}

<hr />

<h2>All Rentals</h2>
<table id="rental-table">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Description</th>
        <th>Distance</th>
        <th>Price brutto CHF</th>
        <th>Price netto CHF</th>
        <th>Price charging CHF</th>
        <th>Earning CHF / km</th>
        <th>Vehicle</th>
        <th>Actions</th>
    </tr>
{% for rental in rentals %}
<tr>
    <td>{{ rental.start }}</td>
    <td>{{ rental.end }}</td>
    <td>{{ rental.description }}</td>
    <td>{{ rental.distance_driven }}</td>
    <td>{{ rental.price_brutto }}</td>
    <td>{{ rental.price_netto }}</td>
    <td>{{ rental.price_charging }}</td>
    <td>{{ rental.earnings_per_km }}</td>
    <td>{{ rental.vehicle }}</td>
    <td>
        <a href="/#/rental/{{ rental.code }}">App</a>,
        <a href="/admin/teslarent/rental/{{ rental.id }}/change/">Edit</a>
        <form style="display: inline" action="./deleteRental/{{ rental.id }}" method="post">{% csrf_token %}<button>Delete</button></form>
    </td>
</tr>
{% empty %}
    <tr><td>No rental yet.</td></tr>
{% endfor %}
    <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th>{{ totals.distance_driven }}</th>
        <th>{{ totals.price_brutto }}</th>
        <th>{{ totals.price_netto }}</th>
        <th>{{ totals.price_charging }}</th>
        <th>{{ totals.earnings_per_km }}</th>
        <th></th>
        <th></th>
    </tr>
</table>

<hr />

<small>
{% if debug %}
    Running in DEBUG mode
{% else %}
    Running in PRODUCTION mode
{% endif %}
<br />
{% now "DATETIME_FORMAT" %} {% now "O" %}
</small>


{% endblock %}